<div class="container">
  <h1>Your To-Do List</h1><span class="glyphicon glyphicon-th-list"></span>
  <table class="table table-bordered table-hover table-condensed">
    <% @items.each do |item| %>
      <tr> 
        <td><%= item.title %></td>
        <td><%= time_ago_in_words(item.created_at) %> ago</td>
        <td><%= link_to 'Mark as Complete', item_path(item), method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <% if policy(Item.new).create? %>
    <%= form_for Item.new do |f| %>
       <%= f.text_field :title, placeholder: 'Add New To-Do Item' %>
       <%= f.submit "Create", class: 'btn btn-success' %>
       <span class="glyphicon glyphicon-plus"></span>
    <% end %>
  <% end %>
</div>
